div.home {
  ul {
    padding: 0;
  }
  li {
    text-decoration: none;
    list-style: none;
  }
  z-index: -5;
  .cardleft {
    text-align: center;
    .list {
        box-shadow: 0 0 15px black;
      margin: 150px 25px;
      position: absolute;
      z-index: 20;
      li {          
        text-decoration: none;
        list-style: none;
        .ant-card{
            background: rgb(196, 194, 168);
        }
      }
    }
  }
  div.two {
    text-align: center;
    background-color: burlywood;
    padding-bottom: 20px;
    .card {
      transition: all 0.25s ease-in;
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
  div.three {
    text-align: center;
    .tit {
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      margin: 15px 10px;
    }
    .threeleft {
      border-right: 1px solid rgb(228, 222, 222);
      nav {
        display: flex;
        justify-content: space-around;
        button {
          color: rgb(114, 17, 17);
          background: white;
          border: none;
          box-shadow: 0 0 4px gray;
          &:hover {
            background: rgb(114, 17, 17);
            color: white;
          }
        }
      }
      .artcomment {
        ul {
          padding: 5px 5px;
          border-left: 1px solid rgb(209, 205, 205);
          li {
            text-align: left;
            border-bottom: 1px solid rgb(197, 191, 191);
            padding: 10px 0;
            h4 {
              font-weight: bold;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }
            p {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
              color: rgb(145, 141, 141);
              &.b {
                color: black;
              }
            }
          }
        }
      }
      .objshow {
        ul {
          padding: 5px 5px;
          border-left: 1px solid rgb(209, 205, 205);
          li {
            border-bottom: 1px solid rgb(197, 191, 191);
            padding: 10px 0;
            h3 {
              font-weight: bold;
            }
            p {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
            }
          }
        }
      }
    }
    .threeright {
      img {
        width: 90%;
        height: 200px;
      }
      .notice {
        .not {
          position: relative;
          margin: 30px 5px;
          width: 45%;
          height: 80px;
          display: inline-block;
          .out {
            height: 50px;
            width: 50px;
            border: 2px solid rgb(167, 135, 49);
            position: absolute;
            left: 0;
            top: 0;
          }
          .into {
            height: 50px;
            width: 50px;
            background: rgb(167, 135, 49);
            position: absolute;
            left: 10px;
            top: 10px;
            transition: all 0.4s ease;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            color: white;
            &:hover {
              top: 0;
              left: 0;
            }
          }
          span {
            text-align: left;
            display: block;
            width: 100%;
            height: 100%;
            padding-left: 65px;
          }
        }
      }
    }
  }
  div.four {
    height: 600px;
    width: 100%;
    .tit {
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      margin: 15px 10px;
    }
    .fourl {
      img {
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
      }
    }
    .fourm {
      img {
        height: 405px;
        width: 100%;
      }
    }
    .fourr {
      img {
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
      }
    }
  }
}
